.nav-tabs,
.nav-link.active,
.nav-tabs .nav-item.show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  color: #000;
}
.nav-link {
  font-size: 14px;
}

.tab {
  font-size: 14px;
  color: #586069;
  text-decoration: none;
}

.search-box {
  border-radius: 5px;
  height: 39px;
  width: 300px;
  background: white;
  font-size: 15px;
  outline: none !important;
}

.input-wrapper {
  position: relative;
}
.input-icon {
  position: absolute;
  right: 10px;
  top: calc(50% - 0.5em);
}
